<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.product_source.dao.basic.HurdlesMapper">
  <resultMap id="BaseResultMap" type="com.briup.product_source.bean.basic.Hurdles">
    <id column="h_id" jdbcType="VARCHAR" property="hId" />
    <result column="h_name" jdbcType="VARCHAR" property="hName" />
    <result column="h_desc" jdbcType="VARCHAR" property="hDesc" />
    <result column="h_max" jdbcType="INTEGER" property="hMax" />
    <result column="h_saved" jdbcType="INTEGER" property="hSaved" />
    <result column="h_time" jdbcType="TIMESTAMP" property="hTime" />
    <result column="h_enable" jdbcType="VARCHAR" property="hEnable" />
    <result column="h_full" jdbcType="VARCHAR" property="hFull" />
    <result column="h_fence_id" jdbcType="VARCHAR" property="hFenceId" />
  </resultMap>
  <sql id="Base_Column_List">
    h_id, h_name, h_desc, h_max, h_saved, h_time, h_enable, h_full, h_fence_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manager_hurdles
    where h_id = #{hId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from manager_hurdles
    where h_id = #{hId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.briup.product_source.bean.basic.Hurdles">
    insert into manager_hurdles (h_id, h_name, h_desc, 
      h_max, h_saved, h_time, 
      h_enable, h_full, h_fence_id
      )
    values (#{hId,jdbcType=VARCHAR}, #{hName,jdbcType=VARCHAR}, #{hDesc,jdbcType=VARCHAR}, 
      #{hMax,jdbcType=INTEGER}, #{hSaved,jdbcType=INTEGER}, #{hTime,jdbcType=TIMESTAMP}, 
      #{hEnable,jdbcType=VARCHAR}, #{hFull,jdbcType=VARCHAR}, #{hFenceId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.briup.product_source.bean.basic.Hurdles">
    insert into manager_hurdles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        h_id,
      </if>
      <if test="hName != null">
        h_name,
      </if>
      <if test="hDesc != null">
        h_desc,
      </if>
      <if test="hMax != null">
        h_max,
      </if>
      <if test="hSaved != null">
        h_saved,
      </if>
      <if test="hTime != null">
        h_time,
      </if>
      <if test="hEnable != null">
        h_enable,
      </if>
      <if test="hFull != null">
        h_full,
      </if>
      <if test="hFenceId != null">
        h_fence_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        #{hId,jdbcType=VARCHAR},
      </if>
      <if test="hName != null">
        #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hDesc != null">
        #{hDesc,jdbcType=VARCHAR},
      </if>
      <if test="hMax != null">
        #{hMax,jdbcType=INTEGER},
      </if>
      <if test="hSaved != null">
        #{hSaved,jdbcType=INTEGER},
      </if>
      <if test="hTime != null">
        #{hTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hEnable != null">
        #{hEnable,jdbcType=VARCHAR},
      </if>
      <if test="hFull != null">
        #{hFull,jdbcType=VARCHAR},
      </if>
      <if test="hFenceId != null">
        #{hFenceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.product_source.bean.basic.Hurdles">
    update manager_hurdles
    <set>
      <if test="hName != null">
        h_name = #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hDesc != null">
        h_desc = #{hDesc,jdbcType=VARCHAR},
      </if>
      <if test="hMax != null">
        h_max = #{hMax,jdbcType=INTEGER},
      </if>
      <if test="hSaved != null">
        h_saved = #{hSaved,jdbcType=INTEGER},
      </if>
      <if test="hTime != null">
        h_time = #{hTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hEnable != null">
        h_enable = #{hEnable,jdbcType=VARCHAR},
      </if>
      <if test="hFull != null">
        h_full = #{hFull,jdbcType=VARCHAR},
      </if>
      <if test="hFenceId != null">
        h_fence_id = #{hFenceId,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.product_source.bean.basic.Hurdles">
    update manager_hurdles
    set h_name = #{hName,jdbcType=VARCHAR},
      h_desc = #{hDesc,jdbcType=VARCHAR},
      h_max = #{hMax,jdbcType=INTEGER},
      h_saved = #{hSaved,jdbcType=INTEGER},
      h_time = #{hTime,jdbcType=TIMESTAMP},
      h_enable = #{hEnable,jdbcType=VARCHAR},
      h_full = #{hFull,jdbcType=VARCHAR},
      h_fence_id = #{hFenceId,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=VARCHAR}
  </update>
</mapper>